<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHu4j-HH3yHYAh7shEErqURXY74CykYGs</string>
	<key>GCM_SENDER_ID</key>
	<string>5306417515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectGemastik</string>
	<key>PROJECT_ID</key>
	<string>gemastik-407fd</string>
	<key>STORAGE_BUCKET</key>
	<string>gemastik-407fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5306417515:ios:db02bb5ec6a091be44cc2e</string>
</dict>
</plist>